@charset "utf-8";
/* CSS Document */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, span, fieldset, table, th, td{margin:0; padding:0; list-style:none;font-size:100%;font-family:Verdana, Geneva, sans-serif; font-size:12px;}
img,a{ margin:0; border:0;}
.clear{ clear:both;}
a{ text-decoration:none;hide-focus: expression(this.hideFocus=true); cursor:pointer;  /* for ie 5+ */outline: none;  /* for firefox 1.5 + */color: black;}
a:hover{color: red; }
body{ background:#515151;}
