.container{
	width: 100%;
	position: relative;
	background-color: #3F3F3F;
	/* background-image: url(../images/fq003.png) ; */
	/* overflow:hidden; */
}
/* 主体内容 CSS */
.main{
	height: 975px;
	width: 100%;
}
#main_bo{
	/* height: 915px; */
	/* background-image: url(../images/fq003.png)  */;
	background-color: #3F3F3F;
}
#part_1{
	width: 1080px;
	height: 330px;
	margin-top: 20px;
	background-color: #252525;
	/* background-image: url(../images/d1.png); */
	/* border: 1px solid  #252525; */
	float: left;
	overflow: hidden;
} 
#saishi{
	width: 310px;
	height: 320px;
	background-image: url(../images/saishi.jpg);
	margin: 6px;
	/* border: 1px solid  #252525; */
	float: left;
}
.saishi_top{
	width: 286px;
	height: 216px;
	background: url(../images/css_sprites.png) no-repeat -5px -5px;
	margin: 6px auto;
	position: relative;
}
.dua_l{
	width: 256px;
	height: 123px;
	position: absolute;
	left: 15px;
	top: 45px;
	overflow: hidden;
}
.dua_tittle{
	width: 800px;
	height: 30px;
	position: absolute;
	left: 0px;
}
.dua_l h1{
	/* width: 286px; */
	height: 30px;
	color: #f01313;
	font:bold 16px/30px "Microsoft Yahei","微软雅黑",Verdana, Geneva, sans-serif;
	line-height: 30px;
	float: left;
}
.dua_l h2{
	float: left;
	zoom:1;
	margin-top: 30px;
}
.dua_l h2,.dua_l h3{
	/* margin: 0 auto; */
	font:bold 16px/25px "Microsoft Yahei","微软雅黑",Verdana, Geneva, sans-serif;
	line-height: 25px;
	color: #d0d0d0; 
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 25px;
	overflow: hidden;
}
.dua_l p{
	width: 100%;
	height: 36px;
	margin-top: 10px;
	padding: 0 10px;
	font:12px/16px "Microsoft Yahei","微软雅黑",Verdana, Geneva, sans-serif;
	line-height: 16px;
	color:#d0d0d0; 
	overflow: hidden;
}
#saishi_time{
	width: 290px;
	height: 40px;
	background-image: url(../images/saishi_timebj.jpg);
	margin: 0 auto;
	text-align: center;
}
.leaveTime{
	font-size: 16px;
	color: #fcd200;
	height: 100%;
	line-height: 40px;
	text-align: center;
}
.leaveTime span{
	font-size: 16px;
}
#saishi_zhibo{
	width: 290px;
	height: 40px;
	background-image: url(../images/saishi_timebj.jpg);
	margin: 5px auto;
	text-align: center;
}
#saishi_zhibo a{
	width: 290px;
	height: 40px;
	display: block;
}
#saishi_zhibo a {
	line-height: 41px;
	color: #fcd200;
	font-size: 20px;
}
#banner{
	width: 752px;
	height: 320px;
	background:#FFF;
	margin: 6px 0;
	float: left;
	overflow: hidden;
}
/* 轮播图css */
.slider{width: 752px;height: 320px;overflow: hidden;position: relative; }
.slider_ul{width: 9999px;position: absolute;}
.navContainer{position: absolute;bottom: 20px;width: 100%;z-index:25;text-align: center;}
.navContainer li{width:8px;height:8px;border-radius: 4px;-moz-border-radius:4px;-webkit-border-radius:4px;margin: 0 5px;background-color: #ffffff;display: inline-block;*display:inline;*zoom:1;line-height: 20px;float: none; cursor: pointer;}
li a img{border: none;}
.navContainer .banActive{background-color: #ff0000;}
.preBtn,.nextBtn{width: 57px;height: 57px;position: absolute;top:50%;margin-top:-28px;cursor: pointer;}
.preBtn{left: -57px;background: url(../images/css_sprites.png) no-repeat -365px -271px;}
.nextBtn{right: -57px;top:50%;background: url(../images/css_sprites.png) no-repeat -287px -271px;}

/* 最新公告  css */
#part_2{
	width: 500px;
	height: 285px;
	background-color: #2A2A2A;
	/* background-image: url(../images/d2.png); */
	margin:10px 10px 0 0;
	padding: 20px;
	float: left;
	overflow: hidden;
}
	#part_2 h1{
		width: 143px;
		height: 45px;
		background: url(../images/css_sprites.png) no-repeat -5px -276px;
		float: left;
	}
	.part_more{
		display: block;
		width: 44px;
		height:12px;
		background: url(../images/css_sprites.png) no-repeat -327px -231px;
		float: right;
	}
	#part_2 .part_more{
		margin-top: 15px;
	}
	.news_list{
		width: 480px;
		height: 245px;
		margin: 0 auto;
		overflow: hidden;
	}
	.news_list li{
		width: 480px;
		height: 30px;
	}
	.news_list li a{
		color: #fff;
		line-height: 30px;
		text-decoration: none;
		width: 400px;
		overflow: hidden;
		font-size: 14px;
	}
	.news_list li a:hover{
		color: #f33131;
		text-decoration: underline;
	}
	.news_list span{
		color: white;
		line-height: 30px;
	}
	.tricon{
		display: inline-block;
		width: 0px;
		height: 0px;
		border-top: 4px solid transparent;
		border-bottom: 4px solid transparent;
		border-left: 4px solid #ff0000;
		border-right: 4px solid transparent;
	}
	.sp1{
		font-size: 14px;
		display: block;
		float: left;
	}
	.sp2{
		font-size: 13px;
		display: block;
		float: right;
	}

/* 赛程表  css */
#part_3{
	width: 530px;
	height: 325px;
	margin:10px 0 0 0;
	float: left;
	overflow: hidden;
}

	.calendar{
		width: 510px;
		height: 265px;
		border: 1px solid #292929;
		background-color: #2A2A2A;
		/* background-image: url(../images/d2.png); */
		margin-top: 4px;
		padding: 0 10px;
		position: relative;
		z-index: 10px;
		overflow: hidden;
	}
	.cal_container{
		width: 100%;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		scrollbar-face-color:gray;        /* IE下的滚动条样式 */
		scrollbar-track-color:#1D1D1D;
		scrollbar-3dlight-color:#1D1D1D;
		scrollbar-highlight-color:#1D1D1D;
		scrollbar-face-color:#808080;
		scrollbar-shadow-color:#1D1D1D; 
        scrollbar-darkshadow-color:#1D1D1D; 
	}
	/* wekit引擎下的浏览器样式 */
	.cal_container::-webkit-scrollbar{
		width:6px;
		background-color: #1E1E1E;
		opacity: 0.1;
	}
	.cal_container::-webkit-scrollbar-thumb{
		background-color:gray;
		border-radius:10px;
	}
	.calendar ul{
		width: 100%;
		height: 30px;
		margin: 2.5px 0px;
		background-color: #1E1E1E;
		color: #ffffff;
		text-align: center;
		line-height: 30px;
	}
	.calendar ul li{
		float: left;
		overflow: hidden;
		text-align: center;
	}
	.item1{
		width: 66px;
	}
	.item2{
		width: 67px;
	}
	.item3{
		width: 110px;
	}
	.item4{
		width: 80px;
	}
	.item5{
		width: 108px;
		overflow: hidden;
	}
	.item6{
		width: 61px;
	}
	/* .calendar table{
		height: 265px;
		line-height: 33px;
		color: #fff;
		text-align: center;
		float: left;
		position: absolute;
		z-index: 1000px;
		top: 0px;
		left: 5px;
		border-collapse: collapse;
		overflow: scroll;
	} */
	.calendar .tittle_first{
		font: bold;
		color: #ffeb01;
	}

/* 图片区  css */
#part_4{
	width:290px;
	height: 230px;
	background-color: #2A2A2A;
	/* background-image: url(../images/d2.png); */
	margin:10px 5px 0 0;
	padding: 15px;
	float: left;
}
	#part_4 h1{
		width: 47px;
		height: 25px;
    	background: url(../images/css_sprites.png) no-repeat -270px -231px;
		float: left;
	}
	#part_4 .part_more,#part_5 .part_mor{
		margin-top: 3px;
	}
	#pictures{
		width: 100%;
		height: 184px;
		float: left;
	}
	#pictures ul{
		width: 100%;
		height: 100%;
		margin-top: 5px; 
	}
	#pictures li{
		margin-bottom: 3px;
		float: left;
	}
	#pictures li:first-child{
		margin-right: 5px;
	}
	#pictures li+li+li+li{
		margin-left: 5px;
	}
#part_5{
	width: 320px;
	height: 230px;
	background-color: #2A2A2A;
	/* background-image: url(../images/d2.png); */
	margin:10px 5px 0 0;
	padding: 15px;
	float: left;
}
	#part_5 h1{
		width: 49px;
		height: 25px;
    	background: url(../images/css_sprites.png) no-repeat -211px -231px;
		float: left;
	}
	#video{
		width: 320px;
		height: 195px;
		float: left;
		margin-top: 6px;
	}
#part_6{
	width: 370px;
	height: 230px;
	background-color: #2A2A2A;
	/* background-image: url(../images/d2.png); */
	margin:10px 0 0 0;
	padding: 15px;
	float: left;
}
	#part_6 h1{
		width: 94px;
		height: 15px;
    	background: url(../images/css_sprites.png) no-repeat -301px -190px;
		float: left;
	}
#distanceCal{
	width:370px;
	height: 193px;
	color:#000000;
	float: left;
	margin-top: 15px;
	/* border: 1px solid red; */
	border-right: none;
	overflow: hidden;
	position: relative;
}
.disTable{
	background-color:#F1F1F1;/* #1E1E1E */
	width: 100%;
	border-collapse:collapse; 
}
.disTable tr:first-child{
	color: #ffffff;
	background-color:#0000CD;/*#F8B001  */
}
.disTable td{
	height: 31px;
	font-size: 14px;
	line-height: 31px;
	text-align: center;
	border: 1px solid gray;

}
/* 
#map{
	width:370px;
	height: 193px;
	float: left;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
}
#map iframe{
	position: relative;
	top: -30px;
} */
