.content_skim{
	width: 750px;
	margin: 0 auto;
	padding-bottom: 30px;
	overflow: hidden;
}
.cont_skim_ta{
	background: #eee;
	padding: 20px 10px;
	position: relative;
	overflow: hidden;
}
/* 图片容器 */
.cont_st{
	width: 100%;
	height: 506px;
	overflow: hidden;
	position: relative;
}
.cont_st ul{
	width: 94440px;
	height: auto;
	position: absolute;
}
.cont_st li{
	margin: 0;
	padding: 0;
	float: left;
}
.cc00 {
	color: #c00;
}
.efArea {
	z-index: 9;
	width: 50%;
	position: absolute;
	top: 20px;
	height: 506px;
}
.arrLeft {
	left: 0px;
	cursor: url(../images/arr_left.cur),auto;
	background-image:url(about:blank);  /* 解决cursor在IE下无显示问题 */
}
.arrRight {
	right:0;
	cursor: url(../images/arr_right.cur),auto;
	background-image:url(about:blank);   /* 解决cursor在IE下无显示问题 */
}

/* 缩略图容器 */
.cont_page{
	margin-top: 20px;
}
/* 向前向后按钮 */
.skim_left,.skim_right{
	width: 25px;
	height: 120px;
	background: white;/* 
	text-align: center; */
	position: relative;
	display: block;
	cursor:pointer;/* 
	vertical-align:middle; */
}
.skim_left{
	float: left;
	border-radius: 10px 0 0 10px;
}
.skim_left:hover i{
	background:url(../images/css_sprites.png) no-repeat -97px -331px;
}
.skim_right:hover i{
	background:url(../images/css_sprites.png) no-repeat -51px -331px;
}
.skim_right{
	float: right;
	border-radius: 0 10px 10px 0;
}
.skim_right i,.skim_left i{
	width: 12px;
	height: 20px;
	display: block;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-10px;
	margin-left: -6px;
}
.skim_right i{
	background:url(../images/css_sprites.png) no-repeat -29px -331px;
}
.skim_left i{
	background:url(../images/css_sprites.png) no-repeat -75px -331px;
	
}
/* 缩略图 */
.swp_list_cont {
	width: 668px;
	height: 120px;
	float: left;
	display: inline;
	margin: 0 5px;
	overflow: hidden;
	position: relative;
}
.swp_list_cont ul {
	width: 9999px;
	position: absolute;
}
.swp_list_cont ul li{
	/* display: inline-block;
	*display:inline;     兼容IE
	*zoom:1; */
	padding: 20px 5px;
	width: 108px;
	height: 100%;
	text-align: center;
	/* vertical-align: middle; */
	float: left;
}
.swp_list_cont ul li img{
	display:block;
}
.swp_list_cont ul li a img{
	/* vertical-align: middle; */
}
.swp_list_cont ul li:hover{
	/* background: #ffbf36; */
}
.swp_list_cont ul .pj img{
	border: 4px solid #ffbf36;
	/* background: #ffbf36; */
}
.swp_list_cont ul li img:hover{
	border: 4px solid #ffbf36;
}
